.spinner-border {
    display: block;
    position: fixed;
    z-index: 1031;
    left: calc( 50% - ( 50px / 2));
    top: calc( 50% - ( 50px / 2) ); 
    right: calc( 50% - ( 50px / 2) ); 
}

.error-handle {
    margin: 0 auto;
    border: 2px;
    border-radius: 10px;
    width: 940px;
    height: 62px;
    box-shadow: none;
    opacity: 0.5;
    background-color: #FF4A4A;
    width: 40%;
    font-size: 20px;
}
.error-handle span {
color:black;
display: flex;
align-items: center;
padding-top: 15px;
justify-content: center;
font-weight: 700;
opacity: 1 !important;
outline: hidden;
}

.paging{
    display: block;
    text-align: center;
}
.paging-button-next {
    border: 1px solid #D5D7E5;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: 700;
    width:93px;
    height:42px;
    text-align:center;
    line-height:1.1em;
    font-size:14px;
    background: #FFFFFF;
    border-radius: 10px;
    color: #050417;
    margin-left: 5px;
    margin-top: 80px;
    margin-bottom: 152px;
  }
  .paging-button-pre {
   
    border: 1px solid #D5D7E5;
    box-sizing: border-box;
    font-weight: 700;
    width:93px;
    border-radius: 10px;
    height:42px;
    text-align:center;
    line-height:1.1em;
    font-size:14px;
    background: #FFFFFF;
    color: #050417;
    margin-right: 5px;
    margin-top: 70px;
    margin-bottom: 152px;
  }
  .paging-button-block-pre {
    border: 1px solid #D5D7E5;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    width:93px;
    height:42px;
    text-align:center;
    line-height:1.1em;
    font-size:14px;
    background: #FFFFFF;
    color:#827e7e;
    margin-right: 5px;
    margin-top: 70px;
    margin-bottom: 152px;
  }
  .paging-button-block-next {
    
    border: 1px solid #D5D7E5;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-weight: 600;
    width:93px;
    height:42px;
    text-align:center;
    line-height:1.1em;
    font-size:14px;
    background: #FFFFFF;
    color: #AAAAD1;
    margin-left: 5px;
    margin-top: 70px;
    margin-bottom: 152px;
  }
 